!!!strict
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
//[if gt IE 8] <html class="no-js">
%html{ lang: :en }
	%head
		= javascript_include_tag 'https://use.fontawesome.com/b70cc3a60e.js'
		= render 'application/fb_login_popup_closer'
		= render 'application/html_head', args: {}
		= render 'application/header_styles'
		= render 'application/header_scripts'

		%meta{ name: "google-site-verification", content: "y7fuNrbkIZIcrCnYO_OvG2KDQErqhofCWyG1TUMCSv8" }
	%body
		= yield
		
		= render 'application/footer_scripts'

		= render 'application/analytics'
