
%header.header#home{ data: { 'stellar-background-ratio' => "0.5" } }
	.overlay-layer
		= render 'application/navbar'
		.container
			.row
				.col-md-7.text-left
					= render 'application/flash'
					.intro-section
						%h2.intro.white-text
							Groundswell Enterprises
						%h4.intro.white-text
							Full Stack Web & Mobile App Development
						%p.transparent-text
							Groundswell delivers solutions for your web and mobile applications at any stage, from inception to scaling.  Backed by a team of product, full stack, mobile, and UI/UX specialists we are able to handle projects of varied scale and technology.
							-# Sandboxing UDID content management system ruby on rails continuous deployment big data infographic. Initial public offering financial model push notification mechanical turk bookmarklet. Term sheet convertible note colluding bootstrapping.
						.button.hidden-xs
							%a.btn.btn-primary.secondary-button{ href: "#section1" }
								Learn More
				.col-md-5.pull-right
					.vertical-registration-form
						%h4.dark-text.form-heading
							Contact Us
						%p.small
							We're available for projects large and small. We'd love to hear from you.
						= form_for SwellMedia::Contact.new, html: { class: 'registration-form' } do |f|
							= f.text_field :subject, placeholder: 'Name', class: 'form-control input-box', id: 'cf-name'
							= f.text_field :email, placeholder: 'Email', class: 'form-control input-box', id: 'cf-email'
							= f.text_area :message, placeholder: 'Message', rows: 4, class: 'form-control textarea-box', id: 'cf-message'
							= f.submit 'Enter', class: 'btn btn-primary standard-button'
.clients.white-bg
	%ul.client-logos
		%li
			%img{ src: '' }
		%li
			%img{ src: '' }
		%li
			%img{ src: '' }
		%li
			%img{ src: '' }

%section.services.grey-bg#section1
	.container
		.section-header
			.small-text-medium.uppercase.colored-text
				Services
			%h2.dark-text
				%strong
					We Startup
				and Solve Problems
			.colored-line
			.sub-heading
				We deliver out of the box or custom solutions to suit your needs.

		.row
			.col-md-4.wow.fadeInLeft{"data-wow-duration" => "1.75s", "data-wow-offset" => "10"}
				.single-service.border-bottom-hover
					.service-icon.colored-text
						%span.icon-basic-webpage-multiple
					%h3.colored-text UI/UX
					%p
						Well a designed user experience and interface can make all the difference to your users, whether it be to attract or engage.

			.col-md-4.wow.flipInY{"data-wow-duration" => "1s", "data-wow-offset" => "10"}
				.single-service.border-bottom-hover
					.service-icon.colored-text
						%span.icon-ecommerce-graph3
					%h3.colored-text Full Stack
					%p
						A full stack solution is a complete solution, including data management, server processing, user interface and reporting.

			.col-md-4.wow.fadeInRight{"data-wow-duration" => "1.75s", "data-wow-offset" => "10"}
				.single-service.border-bottom-hover
					.service-icon.colored-text
						%span.icon-basic-geolocalize-05
					%h3.colored-text Mobile
					%p
						Would you like moble with that?  Compliment your web experience with an app, so your users can stay connected everywhere they go.

%section#section2.brief.white-bg-border.text-left
	.container
		.row
			.col-md-6.pull-right.wow.fadeInLeft{"data-wow-duration" => "1.75s", "data-wow-offset" => "20"}
				.brief-image-right
					%img{:alt => "", :src => 'http://cdn1.groundswellenterprises.com/assets/5f95ee1f-5afe-41b7-868a-f92f2f6051b8.jpg' }/

			.col-md-6.content-section.pull-left.wow.fadeInRight{"data-wow-duration" => "1.75s", "data-wow-offset" => "20"}
				.small-text-medium.uppercase.colored-text
					About
				%h2.text-left.dark-text
					%strong Our
					Story
				.colored-line-left
				%p.text-left
					Our team was initially forged through the fiery crucible of startup, where we built, and bled together.  Finally after years working together, we decided to leave and start a consulting company so we could continue to help individuals, startups and mature companies alike solve their problems and reach their goals.
				.row
					.col-md-6.col-sm-6
						%ul.feature-list.text-left
							%li
								%span.icon-lock-alt.colored-text
								We care about your business
							%li
								%span.icon-check-alt2.colored-text
								Skilled professionals
							%li
								%span.icon-paperclip.colored-text
								Full Stack
					.col-md-6.col-sm-6
						%ul.feature-list.text-left
							%li
								%span.icon-paperclip.colored-text
								Mobile
							%li
								%span.icon-adjust-vert.colored-text
								Holistic Solutions
							%li
								%span.icon-ribbon-alt.colored-text
								Priority Driven


%section.team.grey-bg
	.container
		.section-header
			%h2.dark-text
				Our
				%strong
					Team
		.row.wow.fadeIn{"data-wow-duration" => "1.75s", "data-wow-offset" => "10"}
			.col-md-3.col-md-offset-2.col-sm-6
				.team-member.wow.flipInY{"data-wow-duration" => "1s", "data-wow-offset" => "10"}
					.member-pic
						%img{:alt => "", :src => "http://cdn1.groundswellenterprises.com/assets/82990f69-97b4-4c38-bd79-431ee5242014.png"}/
					.member-details
						%h5.colored-text Gk Parish-Philp
						.small-text
							Product & Design
				%ul.social-icons
					%li
						%a{:href => ""}
							%span.icon-social-facebook.dark-text
					%li
						%a{:href => ""}
							%span.icon-social-twitter.dark-text
					%li
						%a{:href => ""}
							%span.icon-social-pinterest.dark-text

			.col-md-3.col-md-offset-2.col-sm-6
				.team-member.wow.flipInY{"data-wow-duration" => "1s", "data-wow-offset" => "10"}
					.member-pic
						%img{:alt => "", :src => "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkaAAAAJDFjODY1MTJlLWJjOWMtNGQwYi05OTY4LTZkMjY2M2NmM2Y4NA.jpg"}/
					.member-details
						%h5.colored-text Michael Ferguson
						.small-text
							Senior Full Stack Development and Architecture Specialist
				%ul.social-icons
					%li
						%a{:href => ""}
							%span.icon-social-facebook.dark-text
					%li
						%a{:href => ""}
							%span.icon-social-twitter.dark-text
					%li
						%a{:href => ""}
							%span.icon-social-pinterest.dark-text



-# %section#section3.testimonials.white-bg
	.container
		.section-header
			.small-text-medium.uppercase.colored-text
				Testimonials
			%h2.dark-text
				%strong Happy
				Customers
			.colored-line
			.sub-heading
				Cloud computing subscription model out of the box proactive solution.
		.row.no-gutters

			.col-md-4.wow.fadeInLeft{"data-wow-duration" => "1.75s", "data-wow-offset" => "10"}
				.feedback
					.pic-container
						%img{:alt => "", :src => "images/clients/1.jpg"}/
					%p
						“Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth.”
					%h5.colored-text -Eusebia Bărlâdeanu
					.small-text
						XYZ Interactive

			.col-md-4.wow.fadeIn{"data-wow-duration" => "1.75s", "data-wow-offset" => "10"}
				.feedback.border-left.border-right
					.pic-container
						%img{:alt => "", :src => "images/clients/2.jpg"}/
					%p
						“Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content manag system ruby on rails continuous deployment big data infographic.”
					%h5.colored-text - Eusebia Bărlâdeanu
					.small-text
						AbZ Network

			.col-md-4.wow.fadeInRight{"data-wow-duration" => "1.75s", "data-wow-offset" => "10"}
				#feedback
					.feedback
						.pic-container
							%img{:alt => "", :src => "images/clients/3.jpg"}/
						%p
							“Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content manag system ruby on rails continuous deployment big data infographic.”
						%h5.colored-text - Georgian Hrușcă
						.small-text
							ZyX LLC







