- cache( @media ) do
	.single-post-w
		%h1.post-title
			= @media.title
		%p.post-info
			
			%span.info-item
				by
				%a{href: articles_path( by: @media.user_id )}
					= @media.user.avatar_tag( width: 20 )
					= @media.user
			-#%span.info-item
				= @media.publish_at.strftime('%B %e, %Y')
			- if @media.tags.present?
				%span.info-item
					Tagged:
					- @media.tags.each do |tag|
						%a.post-tag{ href: articles_path( tagged: tag.name ) }
							%span.label.label-info
								= tag.name
		- if @media.avatar.present? || @media.cover_path.present?
			.post-avatar{ style: 'text-align:center;' }
				= image_tag @media.cover_path || @media.avatar, class: 'center-block img-responsive'

		.post-content
			= raw @media.content

	- if @media.is_commentable?
		%section#comments
			= render 'application/comments'

%section.team
	.row.wow.fadeIn{"data-wow-duration" => "1.75s", "data-wow-offset" => "10"}
		.col-md-12.wow.flipInY{"data-wow-duration" => "1s", "data-wow-offset" => "10", style: 'margin-top: 50px;padding-top: 10px;padding-bottom: 10px;background: #f4f4f4;border: 1px solid #eee;border-radius: 5px;'}

			-# .member-details{ style: 'margin: 0 -10px; padding: 10px;' }
			%h5.colored-text About Groundswell Enterprises

			%p
				Groundswell delivers solutions for your web and mobile applications at any stage, from inception to scaling. Backed by a team of product, full stack, mobile, and UI/UX specialists we are able to handle projects of varied scale and technology.
			%p
				We're available for projects large and small. We'd love to hear from you.
			.text-center
				%a.btn.btn-lg.btn-primary{ href: swell_media.new_contact_path() } Contact Us



